{% extends 'base.html.twig' %}

{% block title %}Edit Skills & CV{% endblock %}

{% block body %}
    <h1>Edit Skills & CV</h1>

    {{ include('worker/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to profile</a>

{% endblock %}