{% extends 'base.html.twig' %}

{% block title %}Worker{% endblock %}

{% block body %}
    <h1>Skills & CV</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Cv</th>
                <td>{{ worker.cv }}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>
                    {% for skill in worker.skills %}
                        {{ skill.name }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('worker_edit', {'id': worker.id}) }}">edit</a><br/><br/>
    <a class="btn btn-primary" href="{{ path('user_index') }}">back to profile</a>

{% endblock %}