{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/datepicker.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Edit Project</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_index') }}" class="card-link btn btn-primary" style="font-size: 21px;"><i
                class="fa fa-undo" aria-hidden="true"></i></a>

{% endblock %}